body{
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: rgb(3, 64, 113);
    margin: 0;
    height: 100vh;
    color: #ffffff;
}
h1{
    text-align: center;
}
.forecast-container{
background-color: #3963b1;
border-radius: 10px;
padding: 20px;
width: 300px;
}
.one{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border: solid rgb(4, 9, 13);

}
.sun div {
    background-color: yellow;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    
}
.moon{
    background-color: gray;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    
}
.day{
flex: 1;
}



