body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; 
    margin: 20px; 
}

table {
    width: 100%; 
    border-collapse: collapse; 
    margin-top: 20px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

th, td {
    padding: 12px; 
    text-align: left; 
    border: 1px solid #ddd; 
}
tr:nth-child(odd) {
    background-color: #e7e7e7; 
}
th {
    background-color: #4CAF50; 
    color: white;
}


tr:hover {
    background-color: #e0e0e0; 
}

.one {
    font-weight: bold; 
}

.two {
    background-color: #fbfbfb; 
}
